<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="extendedStudent">
            <h2><span
                jhiTranslate="pocHibernateEnversApp.extendedStudent.detail.title">Extended Student</span> {{extendedStudent.id}}
            </h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pocHibernateEnversApp.extendedStudent.firstName">First Name</span></dt>
                <dd>
                    <span>{{extendedStudent.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="pocHibernateEnversApp.extendedStudent.lastName">Last Name</span></dt>
                <dd>
                    <span>{{extendedStudent.lastName}}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/extended-student', extendedStudent.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
