<div>
    <h2 id="page-heading">
        <span jhiTranslate="pocHibernateEnversApp.extendedStudent.home.title">Extended Students</span>
        <button [routerLink]="['/extended-student/new']"
                class="btn btn-primary float-right jh-create-entity create-extended-student" id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="pocHibernateEnversApp.extendedStudent.home.createLabel">
            Create a new Extended Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="extendedStudents?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pocHibernateEnversApp.extendedStudent.home.notFound">No extendedStudents found</span>
    </div>
    <div *ngIf="extendedStudents?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.extendedStudent.firstName">First Name</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.extendedStudent.lastName">Last Name</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let extendedStudent of extendedStudents ;trackBy: trackId">
                <td><a [routerLink]="['/extended-student', extendedStudent.id, 'view' ]">{{extendedStudent.id}}</a></td>
                <td>{{extendedStudent.firstName}}</td>
                <td>{{extendedStudent.lastName}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/extended-student', extendedStudent.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/extended-student', extendedStudent.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button
                            [routerLink]="['/extended-student', { outlets: { popup: extendedStudent.id + '/delete'} }]"
                            class="btn btn-danger btn-sm"
                            queryParamsHandling="merge"
                            replaceUrl="true"
                            type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
