<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-extended-student-heading"
                jhiTranslate="pocHibernateEnversApp.extendedStudent.home.createOrEditLabel">Create or edit a Extended
                Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName"
                           jhiTranslate="pocHibernateEnversApp.extendedStudent.firstName">First Name</label>
                    <input class="form-control" formControlName="firstName" id="field_firstName" name="firstName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName"
                           jhiTranslate="pocHibernateEnversApp.extendedStudent.lastName">Last Name</label>
                    <input class="form-control" formControlName="lastName" id="field_lastName" name="lastName"
                           type="text"/>
                </div>

            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
