<div>
    <h2 id="page-heading">
        <span jhiTranslate="pocHibernateEnversApp.student.home.title">Students</span>
        <button [routerLink]="['/student/new']" class="btn btn-primary float-right jh-create-entity create-student"
                id="jh-create-entity">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="pocHibernateEnversApp.student.home.createLabel">
            Create a new Student
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="students?.length === 0" class="alert alert-warning">
        <span jhiTranslate="pocHibernateEnversApp.student.home.notFound">No students found</span>
    </div>
    <div *ngIf="students?.length > 0" class="table-responsive">
        <table aria-describedby="page-heading" class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="global.field.id">ID</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.student.firstName">First Name</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.student.lastName">Last Name</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.student.dateOfBirth">Date Of Birth</span></th>
                <th><span jhiTranslate="pocHibernateEnversApp.student.placeOfBirth">Place Of Birth</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let student of students ;trackBy: trackId">
                <td><a [routerLink]="['/student', student.id, 'view' ]">{{student.id}}</a></td>
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.dateOfBirth | date:'mediumDate'}}</td>
                <td>{{student.placeOfBirth}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button [routerLink]="['/student', student.id, 'view' ]"
                                class="btn btn-info btn-sm"
                                type="submit">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button [routerLink]="['/student', student.id, 'edit']"
                                class="btn btn-primary btn-sm"
                                type="submit">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button [routerLink]="['/student', { outlets: { popup: student.id + '/delete'} }]"
                                class="btn btn-danger btn-sm"
                                queryParamsHandling="merge"
                                replaceUrl="true"
                                type="submit">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
