<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="student">
            <h2><span jhiTranslate="pocHibernateEnversApp.student.detail.title">Student</span> {{student.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pocHibernateEnversApp.student.firstName">First Name</span></dt>
                <dd>
                    <span>{{student.firstName}}</span>
                </dd>
                <dt><span jhiTranslate="pocHibernateEnversApp.student.lastName">Last Name</span></dt>
                <dd>
                    <span>{{student.lastName}}</span>
                </dd>
                <dt><span jhiTranslate="pocHibernateEnversApp.student.dateOfBirth">Date Of Birth</span></dt>
                <dd>
                    <span>{{student.dateOfBirth}}</span>
                </dd>
                <dt><span jhiTranslate="pocHibernateEnversApp.student.placeOfBirth">Place Of Birth</span></dt>
                <dd>
                    <span>{{student.placeOfBirth}}</span>
                </dd>
            </dl>

            <button (click)="previousState()"
                    class="btn btn-info"
                    type="submit">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button [routerLink]="['/student', student.id, 'edit']"
                    class="btn btn-primary"
                    type="button">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
