<div class="row justify-content-center">
    <div class="col-8">
        <form (ngSubmit)="save()" [formGroup]="editForm" name="editForm" novalidate role="form">
            <h2 id="jhi-student-heading" jhiTranslate="pocHibernateEnversApp.student.home.createOrEditLabel">Create or
                edit a Student</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div [hidden]="!editForm.get('id').value" class="form-group">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input class="form-control" formControlName="id" id="id" name="id" readonly
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName"
                           jhiTranslate="pocHibernateEnversApp.student.firstName">First Name</label>
                    <input class="form-control" formControlName="firstName" id="field_firstName" name="firstName"
                           type="text"/>
                    <div
                        *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                        <small *ngIf="editForm.get('firstName').errors.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName"
                           jhiTranslate="pocHibernateEnversApp.student.lastName">Last Name</label>
                    <input class="form-control" formControlName="lastName" id="field_lastName" name="lastName"
                           type="text"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfBirth"
                           jhiTranslate="pocHibernateEnversApp.student.dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input #dateOfBirthDp="ngbDatepicker" class="form-control" formControlName="dateOfBirth"
                               id="field_dateOfBirth" name="dateOfBirth" ngbDatepicker type="text"/>
                        <span class="input-group-append">
                            <button (click)="dateOfBirthDp.toggle()" class="btn btn-secondary" type="button"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div
                        *ngIf="editForm.get('dateOfBirth').invalid && (editForm.get('dateOfBirth').dirty || editForm.get('dateOfBirth').touched)">
                        <small *ngIf="editForm.get('dateOfBirth').errors.required"
                               class="form-text text-danger" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_placeOfBirth"
                           jhiTranslate="pocHibernateEnversApp.student.placeOfBirth">Place Of Birth</label>
                    <input class="form-control" formControlName="placeOfBirth" id="field_placeOfBirth"
                           name="placeOfBirth"
                           type="text"/>
                </div>

            </div>
            <div>
                <button (click)="previousState()" class="btn btn-secondary" id="cancel-save" type="button">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button [disabled]="editForm.invalid || isSaving" class="btn btn-primary" id="save-entity"
                        type="submit">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
